* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.mainHeader {

    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: rgba(255, 255, 255, 0.907);
    padding-bottom: 20px;
    
    

}

h1 {
    color: #712669;
    text-align: center;
    font-size: 225%;
    
}


.card {
    
    border-right: white solid 6px;
    border-left: white solid 6px;
    /* border-bottom: white solid 8px; */
    background-color: #712669;
    border-radius: 50px;
    width: 400px;
    height: fit-content;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 10px;
   
    

}



.lineCards {

    
    padding-right: 100px;
    text-align: center;
    padding-top: 50px;
    padding: 35px;

}

.perfilIcon {

    padding-top: 30px;
    height: 70%;
    width: 70%;
    align-self: center;

}

h3 {
    
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    
}

p {
    color: white;
    padding-bottom: 20px;
    padding-top: 15px;

}

body {
    
    background-image: url(/assets/neon-tropic.png);
    background-repeat: repeat;
    background-size: 95vh;
   

}

.lorem {

    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    text-align: justify;

}

.media-icons {

    background-color: #181818d6;
    background-size: cover;

}

@media (max-width: 860px) {
    h1 {
        color: #712669;
        text-align: center;
        font-size: 200%;
    }

    .card {
        width: 375px;

    }

    .perfilIcon {

        padding-top: 25px;
        height: 60%;
        width: 60%;
        align-self: center;
    
    }

}