@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.info {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  justify-content: center;
}

h1 {
  color: #712669;
  font-weight: bolder;
}

h2 {
  color: white;
}

p {
  max-width: 650px;
  color: white;
}

.btn-info {
  cursor: pointer;
  background-color: #712669;
  color: white;
  border-radius: 20px;
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: bold;
  margin-top: 15px;
  padding: 10px 20px;
  border: 0px;
  width: fit-content;
}

.btn-info:hover {
  transition: 0.5s;
  background-color: white;
  color: #712669;
}

main {
  display: flex;
  justify-content: space-between;
}

.eco {
  display: flex;
  max-width: 600px;
  margin-right: 60px;
}

@media (max-width: 860px) {
  main {
    flex-direction: column;
  }

  .eco, .info {
    display: block;
    margin: auto;
    padding: 20px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 17px;
  }

  .btn-info {
    font-size: 19px;
    letter-spacing: 2px;
  }
}
